<style type="text/css">
	
.table-cont{
	width: 100%;
	padding: 20px;
    font-family: sans-serif;
}
.book{
    width: 100%;
    height: 150px;
    border: 1px solid #5B9AD5;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 20px;
}
.img{
	display: inline-block;
    width: 100px;
    border-right: 1px solid #5B9AD5;
    height: 120px;
    padding-right: 15px;
    margin-right: 15px;
    float: left;
}
.img img{
	width: 100%;
    height: 120px;
}

.info{
	display: inline-block;
	float: left;
}
.info p{
	margin: 0px;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 21px;
}
.buy{
    display: inline-block;
    float: right;
    text-align: center;
    width: 120px;
    padding: 14px 0px 0px 0px;
    border-left: 1px solid #5B9AD5;
    height: 100px;
}
.buy p{
	font-weight: bold;
}
.buy a{
    background: #5B9AD5;
    padding: 10px 30px 10px 30px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 21px;
}
.buy a:hover{
    background: #3570A7;
}


</style>

<div class="table-cont">

	<div class="book">
		<div class="img">
			<img src="">
		</div>
		<div class="info">
			<p><strong>Title: </strong>Digital systems</p>
			<p><strong>Author: </strong>Erick Alcantar</p>
			<p><strong>Publisher: </strong>SKKU</p>
			<p><strong>Course Name: </strong>Digital systems</p>
			<p><strong>Professor Name: </strong>Lee</p>
		</div>
		<div class="buy">
			<p>10000 KRW</p>
			<a href="#" class="btn">BUY</a>
		</div>
	</div>

	<div class="book">
		<div class="img">
			<img src="">
		</div>
		<div class="info">
			<p><strong>Title: </strong>Digital systems</p>
			<p><strong>Author: </strong>Erick Alcantar</p>
			<p><strong>Publisher: </strong>SKKU</p>
			<p><strong>Course Name: </strong>Digital systems</p>
			<p><strong>Professor Name: </strong>Lee</p>
		</div>
		<div class="buy">
			<p>10000 KRW</p>
			<a href="#" class="btn">BUY</a>
		</div>
	</div>

	<div class="book">
		<div class="img">
			<img src="">
		</div>
		<div class="info">
			<p><strong>Title: </strong>Digital systems</p>
			<p><strong>Author: </strong>Erick Alcantar</p>
			<p><strong>Publisher: </strong>SKKU</p>
			<p><strong>Course Name: </strong>Digital systems</p>
			<p><strong>Professor Name: </strong>Lee</p>
		</div>
		<div class="buy">
			<p>10000 KRW</p>
			<a href="#" class="btn">BUY</a>
		</div>
	</div>

</div>
<!-- this will be used later -->
<% @books.each do |p|%>
     <h1><%= p.seller_id %></h1>
     <h1><%= p.major %></h1>
     <h1><%= p.college %></h1>
     <h1><%= p.author %></h1>
     <h1><%= p.title %></h1>
     <h1><%= p.publisher %></h1>
     <h1><%= p.seller_price %></h1>
     <h1><%= p.profname %></h1>
     <h1><%= p.coursename %></h1>
 <% end %>